/* Sidebar */
.sidebar {
    background-color: #ff6242;
    width: 250px;
    padding: 20px;
    color: white;
  }
  
  .sidebar h2 {
    text-align: center;
  }
  
  .sidebar-header {
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .sidebar-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-nav ul li {
    margin: 10px 0;
  }
  
  .sidebar-nav ul li {
    text-decoration: none;
    font-size: 16px;
  }
  
  .sidebar-nav ul li a i {
    margin-right: 8px; /* Jarak antara ikon dan teks */
  }
  
  .sidebar-nav li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sidebar-nav a.active,
  .sidebar-nav a:hover {
    background-color: #ff8164;
  }
  