/* Sidebar */
.sidebar {
    background-color: #ff6242;
    width: 250px;
    padding: 20px;
    color: white;
    height: 100vh; /* Sidebar mengikuti tinggi layar */
    overflow-y: auto; /* Tambahkan scroll jika isinya lebih panjang */
}
  
  .sidebar h2 {
    text-align: center;
  }
  
  .sidebar-header {
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .sidebar-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-nav ul li {
    margin: 10px 0;
  }
  
  .sidebar-nav ul li {
    text-decoration: none;
    font-size: 16px;
  }
  
  .sidebar-nav ul li a i {
    margin-right: 8px; /* Jarak antara ikon dan teks */
  }
  
  .sidebar-nav li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sidebar-nav a.active,
  .sidebar-nav a:hover {
    background-color: #ff8164;
  }
  
  img {
    width: 150px;
    height: auto;
  }
 

  @media (max-width: 768px) {
  /* Sidebar dengan posisi fixed dan tersembunyi di luar layar */
/* Sidebar: default tersembunyi di luar layar */
.sidebar {
  background-color: #ff6242;
  width: 90px;
  padding: 20px;
  color: white;
}

.sidebar h2 {
  text-align: center;
}

.sidebar-header {
  font-size: 15px;
  margin-bottom: 20px;
}

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav ul li {
  margin: 10px 0;
}

.sidebar-nav ul li {
  text-decoration: none;
  font-size: 16px;
}

.sidebar-nav ul li a i {
  margin-right: 8px; /* Jarak antara ikon dan teks */
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar-nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebar-nav a.active,
.sidebar-nav a:hover {
  background-color: #ff8164;
}

img {
  width: 70px;
  height: auto;

}

/* Sembunyikan teks dalam span */
.sidebar-nav ul li a span {
  display: none; /* Teks dalam span tidak ditampilkan */
}

/* Tetap pastikan ikon terlihat */
.sidebar-nav ul li a i {
  font-size: 20px; /* Ukuran ikon */
  margin-right: 0; /* Hapus jarak kanan jika diperlukan */
  text-align: center;
}

  }